@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

body * {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
 	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

/* .container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 75px;
} */

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  display: flex;
}

/* ---------- My style ---------- */

body {
	background-color: #424242;
}

header span,
footer span {
	color: #fff;
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
  color: #fff;
}
h2 {
  font-size: 2em;
  margin-bottom: 25px;
  color: #fff;
}

.row {
  --bs-gutter-x: 30px;
}
.container {
  --bs-gutter-x: 15px;
}

/* ---------- header ---------- */

.header {
  background-color: #3f2aff;
}
.header__wrap {
  height: 80px
}
.header__logo-wrap svg {
  width: 72px;
  height: 16px;
}

.header__nav-wrap {
  justify-content: end;
}
.burger-menu {
  width: 20px;
	height: 16px;
	position: relative;
  margin-right: 4px;
  /* margin-bottom: 2px; */
	z-index:2;
	overflow: hidden;
}
.burger-menu span {
	width: 20px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	/* transition: all 0.5s; */
}
.burger-menu span:nth-of-type(2) {
	top: calc(50% - 7px);
}
.burger-menu span:nth-of-type(3) {
	top: calc(50% + 7px);
}



.nav {
  /* padding-left: 73px; */
}
.nav-list {
  /* display: flex; */
  /* width: 100%; */
}
.nav-list__item {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

/* ---------- main ---------- */

.main {

}

/* ---------- section-hero ---------- */

.section-hero {
  /* height: 700px; */
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}
.section-hero .container {
  background-repeat: no-repeat;
  background-position: 720px 95px;
  background-image: url(../img/hero-bg.png);
}
.section-hero .row {
  padding-top: 49px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 490px 120px;
  background-image: url(../img/hero-bg-element.png);
}

.hero__header {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
.hero__text {
  margin-bottom: 46px;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}
.hero__btn {
  padding: 20px 53px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #3f2aff;
}

.section-hero__right {
  position: relative;
}
.section-hero__right-img-1 {
  position: absolute;
  top: -88px;
  left: 17px;
}
.section-hero__right-img-2 {
  position: absolute;
  right: 12px;
  top: -115px;
}

/* ---------- section-advantage ---------- */

.section-advantage {
  padding-top: 51px;
  padding-bottom: 20px;
  background-color: #e5e5e5;
}
.adv__main {
  padding-bottom: 23px;
}
.adv__img {
  margin-top: 22px;
  height: fit-content;
}
.adv__header {
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #2e2b44;
}
.adv__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.adv__item-text {
  padding-top: 1px;
  padding-left: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.adv__item {
  padding-bottom: 26px;
}

/* ---------- section-teacher ---------- */

.section-teacher {
  padding-top: 46px;
  padding-bottom: 25px;
  background-color: #212133;
}
.teach__header {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.teach picture img {
  margin-bottom: 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.teach__name {
  display: flex;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.teach__descr {
  margin-bottom: 22px;
  padding-right: 8px;
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* ---------- section-courses ---------- */

.section-courses {
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #fff;
}
.courses__header {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #212133;
}

.cards > div:not(last-child) {
  margin-bottom: 30px;
}
.card {
  position: relative;
}
.card__time {
  position: absolute;
  top: 13px;
  right: 25px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.card__time-svg {
  position: absolute;
  left: -29px;
  top: -3px;
}
.card__main {
  display: flex;
  flex-direction: column;
  height: 473px;
  padding: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #edf0f9;
}
.card__head {
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__header {
  display: flex;
  margin-bottom: 9px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}
.card__descr {
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.card__btn {
  padding: 20.5px 56px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #3f2aff;
}

.card__head--bg-1 {
  background-image: url(../img/courses-bg-1-320.jpg);
}
.card__head--bg-2 {
  background-image: url(../img/courses-bg-2-320.jpg);
}
.card__head--bg-3 {
  background-image: url(../img/courses-bg-3-320.jpg);
}
.card__head--bg-4 {
  background-image: url(../img/courses-bg-4-320.jpg);
}

/* ---------- footer ---------- */

.footer-main {
  background-color: #2E2B44;
}
.footer-main .row  {
  height: 80px;
}
.footer-main svg:not(:last-child) {
  margin-right: 34px;
}
.footer-copy {
  color: #2E2B44;
}
.footer-copy span {
  height: 20px;
  padding-top: 3px;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

/* sm + */
@media (min-width: 576px) {
  .row {
    --bs-gutter-x: 30px;
  }
  .container {
    --bs-gutter-x: 15px;
  }

  /* ---------- header---------- */

  .header__wrap {
    height: 133px;
  }
  .header__logo-wrap {
    align-self: stretch;
    justify-content: center;
    padding-top: 14px;
  }
  .header__logo-wrap svg {
    width: inherit;
    height: inherit;
  }
  .header__nav-wrap {
    align-self: stretch;
    padding-bottom: 13px;
  }
  .nav-list {
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px 2px;
  }

  /* ---------- section-hero ---------- */

  .hero .row {
    padding-top: 75px;
    padding-bottom: 136px;
  }
  .hero__header {
    margin-bottom: 17px;

    font-size: 50px;
    line-height: 100%;
  }
  .hero__text {
    margin-bottom: 63px;
    padding-right: 165px;
    font-size: 18px;
    line-height: 150%;
  }
  .hero__btn {
    padding: 24px 75px;
    font-size: 18px;
    line-height: 21px;
  }

  /* ---------- section advantage ---------- */

  .section-advantage {
    padding-bottom: 29px;
  }
  .adv__main {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .adv__img {
    display: flex;
    width: 151px;
    margin-top: 0;
  }
  .adv__header {
    font-size: 40px;
    line-height: 100%;
  }
  .adv__text {
    padding-top: 15px;
    padding-right: 10px;
  }
  .adv__item-text {
    padding-top: 5px;
    padding-left: 0px;
  }

  /* ----------  section teacher ---------- */

  .section-teacher {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .teach__header {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 100%;
  }
  .teach__img {
    width: 100%;
  }
  .teach__descr {
    padding-right: 0;
  }

  /* ---------- section-courses ---------- */

  .section-courses {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .courses__header {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 100%;
  }
  .card__header {
    padding-right: 0;
  }
  .card__btn {
    padding: 20.5px 49px;
  }
  .card__head--bg-1 {
    background-image: url(../img/courses-bg-1-576.jpg);
  }
  .card__head--bg-2 {
    background-image: url(../img/courses-bg-2-576.jpg);
  }
  .card__head--bg-3 {
    background-image: url(../img/courses-bg-3-576.jpg);
  }
  .card__head--bg-4 {
    background-image: url(../img/courses-bg-4-576.jpg);
  }
}

/* md + */
@media (min-width: 768px) {

  .row {
    --bs-gutter-x: 30px;
  }
  .container {
    --bs-gutter-x: 15px;
  }

  /* ---------- header---------- */

  .header__wrap {
    height: 80px;
  }
  .header__logo-wrap {
    justify-content: flex-start;
    padding-top: 2px;
  }
  .nav-list {
    padding: 10px 1px 0 40px;
  }

  /* ---------- section hero ---------- */

  .hero .container {
    background-size: 313px;
    background-position: 392px 126px;
  }
  .hero .row {
    padding-top: 130px;
    background-size: 135px;
    background-position: 375px 117px;
  }
  .hero__header {
    margin-bottom: 15px;
  }
  .hero__text {
    padding-right: 60px;
  }

  /* ---------- section advantage ---------- */

  .section-advantage {
    /* padding-top: 72px; */
    padding-bottom: 50px;
  }
  .adv__main {
    padding-bottom: 22px;
  }
  .adv__img {
    width: 100%;
    padding-top: 22px;
  }
  .adv__item-text {
    padding-top: 7px;
  }

  /* ---------- section teacher ---------- */
  .section-teacher {
    padding-top: 74px;
    padding-bottom: 26px;
  }
  .teach__header {
    margin-bottom: 23px;
  }
  .teach__descr {
    padding-right: 0;
  }

  /* ---------- section courses ---------- */

  .card__main {
    height: 376px;
    padding-top: 32px;
  }
  .card__btn {
    padding: 20.5px 56px;
  }
  .card__head--bg-1 {
    background-image: url(../img/courses-bg-1-768.jpg);
  }
  .card__head--bg-2 {
    background-image: url(../img/courses-bg-2-768.jpg);
  }
  .card__head--bg-3 {
    background-image: url(../img/courses-bg-3-768.jpg);
  }
  .card__head--bg-4 {
    background-image: url(../img/courses-bg-4-768.jpg);
  }

}

/* lg - */
@media (min-width: 992px) {
  .hero .container {
    background-position: 580px center;
  }
  .hero .row {
    background-position: 500px 100px;
  }

  .adv__img {
    padding-top: 0;
  }
}

/* xl - */
@media (min-width: 1200px) {
  .hero .container {
    background-position: 775px center;
  }

  .adv__img {
    padding-top: 0;
  }
}

 /* xxl + */
@media (min-width: 1400px) {
  .container {
    --bs-gutter-x: 105px;
  }

  /* ---------- header ---------- */

  .nav-list {
    padding-left: 70px;
  }

  /* ---------- section hero ---------- */

  .hero .container {
    background-size: 540px;
    background-position: 675px 15px;
  }
  .hero .row {
    padding-bottom: 130px;
    background-size: 235px;
    background-position: 492px 42px;
  }
  .hero__header {
    margin-bottom: 27px;
    font-size: 60px;
  }
  .hero__text {
    padding-right: 140px;
  }

  /* ---------- section advantage ---------- */

  .section-advantage {
    padding-bottom: 50px;
  }
  .adv__main {
    padding-bottom: 22px;
  }
  .adv__header {
    width: 450px;
  }
  .adv__text {
    width: 600px;
    padding-right: 0;
  }
  .adv__item-text {
    padding-top: 0;
    padding-left: 15px;
  }

  /* ---------- section teacher ---------- */

  .section-teacher {
    padding-bottom: 51px;
  }

  /* ---------- section courses ---------- */

  .courses__header {
    margin-bottom: 24px;
  }
  .card__main {
    height: 300px;
  }
  .card__time {
    right: 20px;
  }
  .card__btn {
    padding: 20.5px 60px;
  }
  .card__head--bg-1 {
    background-image: url(../img/courses-bg-1-1440.jpg);
  }
  .card__head--bg-2 {
    background-image: url(../img/courses-bg-2-1440.jpg);
  }
  .card__head--bg-3 {
    background-image: url(../img/courses-bg-3-1440.jpg);
  }
  .card__head--bg-4 {
    background-image: url(../img/courses-bg-4-1440.jpg);
  }

}
