@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

body * {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
 	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

/* .container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 75px;
} */

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  display: flex;
}

/* ---------- My style ---------- */

body {
	background-color: #424242;
}

header span,
footer span {
	color: #fff;
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
  color: #fff;
}
h2 {
  font-size: 2em;
  margin-bottom: 25px;
  color: #fff;
}

/* Устройства X-Small (портретные телефоны, менее 576 пикселей) */
/* Нет медиа-запроса для `xs`, так как это значение по умолчанию в Bootstrap */


/* ---------- header ---------- */

.header {
  background-color: #3f2aff;
}
.header-wrap {
  height: 80px
}
.logo svg {
  width: 72px;
  height: 16px;
}
.burger-menu {
  width: 20px;
	height: 18px;
	position: relative;
  margin-right: 4px;
  margin-bottom: 2px;
	z-index:2;
	overflow: hidden;
}
.burger-menu span {
	width: 20px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	/* transition: all 0.5s; */
}
.burger-menu span:nth-of-type(2) {
	top: calc(50% - 7px);
}
.burger-menu span:nth-of-type(3) {
	top: calc(50% + 7px);
}



.nav {
  padding-left: 73px;
  display: none;
}
.nav-list {
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.nav-list__item {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

/* ---------- main ---------- */

.main {
}

/* ---------- section-hero ---------- */

.section-hero {
  /* height: 700px; */
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}
.section-hero .container {
  background-repeat: no-repeat;
  background-position: 720px 95px;
  background-image: url(../img/hero-bg.png);
}
.section-hero .container .row {
  padding-top: 49px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 490px 120px;
  background-image: url(../img/hero-bg-element.png);
}

.hero__header {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
.hero__text {
  margin-bottom: 46px;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}
.hero__btn {
  padding: 20px 53px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #3f2aff;
}

.section-hero__right {
  position: relative;
}
.section-hero__right-img-1 {
  position: absolute;
  top: -88px;
  left: 17px;
}
.section-hero__right-img-2 {
  position: absolute;
  right: 12px;
  top: -115px;
}

/* ---------- section-advantage ---------- */

.section-advantage {
  padding-top: 51px;
  padding-bottom: 46px;
  background-color: #e5e5e5;
}

.adv__img {
  margin-top: 22px;
}
.adv__header {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #2e2b44;
}
.adv__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.adv__item-text {
  padding-left: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
.adv__item {
  padding-bottom: 26px;
}

/* ---------- section-teacher ---------- */

.section-teacher {
  padding-top: 46px;
  padding-bottom: 25px;
  background-color: #212133;
}
.teach__header {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.teach__img {
  margin-bottom: 26px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.teach__name {
  display: flex;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.teach__descr {
  margin-bottom: 24px;
  padding-right: 8px;
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* ---------- section-courses ---------- */

.section-courses {
  padding-top: 45px;
  padding-bottom: 20px;
  background-color: #fff;
}
.courses__header {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #212133;
}
.cards > div:not(last-child) {
  margin-bottom: 30px;
}
.courses__head {
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.courses__time {
  position: relative;
  float: right;
  padding-top: 13px;
  padding-right: 9px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.courses__time-svg {
  position: absolute;
  left: -29px;
  top: 9px;
}
.courses__main {
  height: 473px;
  padding: 0 29px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #edf0f9;
}
.courses__name {
  display: flex;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}
.courses__descr {
  font-size: 16px;
  line-height: 150%;
  color: #666;
}
.courses__btn {
  padding: 20.5px 56px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: #3f2aff;
}

.courses__head--bg-1 {
  background-image: url(../img/courses-bg-1.jpg);
}
.courses__head--bg-2 {
  background-image: url(../img/courses-bg-2.jpg);
}
.courses__head--bg-3 {
  background-image: url(../img/courses-bg-3.jpg);
}
.courses__head--bg-4 {
  background-image: url(../img/courses-bg-4.jpg);
}

/* ---------- section-social ---------- */

.footer__wrap > div {
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 30px;
  background-color: #2E2B44;
}
.footer__wrap > div svg:not(:last-child) {
  margin-right: 34px;
}
.footer__copy {
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2E2B44;
}
.footer__copy-wrap > div {
  display: flex;
  justify-content: center;
}
.footer__copy-wrap > div > span {
  height: 20px;
  padding-top: 3px;
}


/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (min-width: 576px) {
  .header {
    /* height: 133px; */
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 51px;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81px;
    padding: 0 24px;
  }
}

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (min-width: 768px) {
  .container-md {
    padding: 0 15px;
  }
  .nav {
    padding-left: 28px;
  }
}

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (min-width: 992px) {

}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (min-width: 1200px) {

}

 /* Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше) */
@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1440px;
    padding: 0 153px;
  }
}
