@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto-Bold'),
		url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

body * {
  /* outline: 1px solid red; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
 	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ---------- Glob ----------*/

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 75px;
}

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Псевдоклассы для svg */
svg rect,
svg path,
svg circle {
  transition: all .3s ease-in-out;
}
.svg {
  display: flex;
}

/* ---------- My style ---------- */

body {
	background-color: #424242;
}

header span,
footer span {
	color: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 153px;
}

/* ---------- Main ---------- */

h1 {
  font-size: 3em;
  margin-bottom: 50px;
  color: #fff;
}
h2 {
  font-size: 2em;
  margin-bottom: 25px;
  color: #fff;
}

/* ---------- header ---------- */

.header {
  position: absolute;
  height: 80px;
  background-color: #3f2aff;
}
.header-wrap {
  height: 80px
}

.nav-list {
  display: flex;
  justify-content:space-between;
  padding-left: 73px;
}
.nav-list__item {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

/* ---------- main ---------- */

.main {
  height: 700px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);}

/* ---------- section-hero ---------- */

.section-hero {
  padding-top: 210px;
  padding-bottom: 130px;
}

.section-hero__header {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}
.section-hero__text {
  margin-bottom: 62px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.section-hero__btn {
  padding: 24px 75.5px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #3f2aff;
}

.section-hero__right {
  position: relative;
}
.section-hero__right-img-1 {
  position: absolute;
  top: -88px;
  left: 17px;
}
.section-hero__right-img-2 {
  position: absolute;
  right: 12px;
  top: -115px;
}




.section-advantage {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e5e5e5;
}
.adv__row {
  padding-bottom: 25px;
}

.adv__img {
  margin-top: 22px;
}
.adv__header {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #2e2b44;
}
.adv__text {
  margin: 0;
  margin-right: 50px;
  font-size: 16px;
  line-height: 150%;
  color: #666;
}

.adv__item-text {
  padding-top: 11px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
}
